[submodule ".wiki"]
	path = .wiki
	url = https://github.com/keisuke58/Tmcmc202601.wiki.git

[submodule "Tmcmc202601"]
	path = Tmcmc202601
	url = https://github.com/keisuke58/Tmcmc202601.git

[submodule "VirtualElementMethods"]
	path = VirtualElementMethods
	url = https://github.com/keisuke58/VirtualElementMethods.git

[submodule "nife"]
	path = nife
	url = https://github.com/keisuke58/nife_intern.git
