_material_sweep/
_mesh_convergence/
_openjaw_results/
_posterior_abaqus/
_posterior_abaqus_ALL_DONE.flag
_posterior_abaqus_test/
_posterior_plots/
_posterior_uncertainty/
_pressure_sweep/
_results_2d/
_results_3d/
_results_3d_long/
_tmp_2d_auto_aniso/
_tmp_2d_lie/
_tmp_2d_strang/
_tmp_3d_auto_aniso/
_tmp_3d_lie/
_tmp_3d_strang/
abaqus_cae/
abaqus_logs/
abaqus_jnl/
abaqus_replay/
